body{
	margin-top: 40px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.head{
	width: 100%;
	height: 40px;
	background-image: url(../images/head_bg.jpg);
	position: fixed;
	top: 0;
}
.head .wrap{
	margin: auto;
	width: 1000px;
}
.head h1{
	font-size: 20px;
	line-height: 40px;
	color: #14a5f0;
}
.head .head-search{
	padding: 5px 0 0 20px;
}
.head .search{
	width: 300px;
	height: 26px;
	border: 1px solid #ccc;
	background: #fff;
	color: #666;
	font-size: 14px;
}
.head .head-btn{
	padding: 4px 0 0 5px;
}
.head .head-member{
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 14px;
}

#reg{

}
#reg label{
	font-size: 14px;
	color: #666;
}
#reg .text{
	width: 200px;
	height: 25px;
	line-height: 25px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
}
#reg .star{
	font-size: 14px;
	color: red;
}
#reg p{
	margin: 10px 0;
}
#reg input{
	text-indent: 5px;
}
#reg .ui-state-active{
	background: #14a5f0;
	border:1px solid #14a5f0;
}
#reg .date{
	width: 170px;
}
