body,ul,li{
	margin: 0px;
	padding: 0px;
}
.container{
	position: relative;
	width: 100%;
	min-width: 400px;
}
.img{
	position: relative;
	width: 368px;
	height: 369px;
	margin: 100px auto;
	border: 1px solid #ccc;
}
.img li{
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	list-style: none;
}
